In [24]:
2+5

7

In [25]:
(50+45+30+29+60)/6

35.666666666666664

In [26]:
(50+45+30+29+60)//6

35

In [27]:
round((50+45+30+29+60)/6, 1)

35.7

In [28]:
number=[1,2,3,4,5,6,7,8,9]
for item in number:
    print('2','*',item,'=',2*item)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [29]:
for i in range(2,5):
    for each in range (1,10):
        print(i,'*',each,'=',i*each)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [30]:
for i in range(2,5):
    for each in range (1,10):
        print(f'{i} * {each} = {i*each}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [35]:
for i in range(2,20):
    for each in range (1,10):
        print(f'{i:2d} * {each:2d} = {i*each:3d}', end="\t")
    print()

 2 *  1 =   2	 2 *  2 =   4	 2 *  3 =   6	 2 *  4 =   8	 2 *  5 =  10	 2 *  6 =  12	 2 *  7 =  14	 2 *  8 =  16	 2 *  9 =  18
 3 *  1 =   3	 3 *  2 =   6	 3 *  3 =   9	 3 *  4 =  12	 3 *  5 =  15	 3 *  6 =  18	 3 *  7 =  21	 3 *  8 =  24	 3 *  9 =  27
 4 *  1 =   4	 4 *  2 =   8	 4 *  3 =  12	 4 *  4 =  16	 4 *  5 =  20	 4 *  6 =  24	 4 *  7 =  28	 4 *  8 =  32	 4 *  9 =  36
 5 *  1 =   5	 5 *  2 =  10	 5 *  3 =  15	 5 *  4 =  20	 5 *  5 =  25	 5 *  6 =  30	 5 *  7 =  35	 5 *  8 =  40	 5 *  9 =  45
 6 *  1 =   6	 6 *  2 =  12	 6 *  3 =  18	 6 *  4 =  24	 6 *  5 =  30	 6 *  6 =  36	 6 *  7 =  42	 6 *  8 =  48	 6 *  9 =  54
 7 *  1 =   7	 7 *  2 =  14	 7 *  3 =  21	 7 *  4 =  28	 7 *  5 =  35	 7 *  6 =  42	 7 *  7 =  49	 7 *  8 =  56	 7 *  9 =  63
 8 *  1 =   8	 8 *  2 =  16	 8 *  3 =  24	 8 *  4 =  32	 8 *  5 =  40	 8 *  6 =  48	 8 *  7 =  56	 8 *  8 =  64	 8 *  9 =  72
 9 *  1 =   9	 9 *  2 =  18	 9 *  3 =  27	 9 *  4 =  36	 9 *  5 =  45	 9 *  6 =  54	 9 *  7 =  63	 9 *  8 =  72	 9 *  9 =  81
10 *  1 =  10	10 *  2 =  20	10 *  3 =  30	10 *  4 =  40	10 *  5 =  50	10 *  6 =  60	10 *  7 =  70	10 *  8 =  80	10 *  9 =  90
11 *  1 =  11	11 *  2 =  22	11 *  3 =  33	11 *  4 =  44	11 *  5 =  55	11 *  6 =  66	11 *  7 =  77	11 *  8 =  88	11 *  9 =  99
12 *  1 =  12	12 *  2 =  24	12 *  3 =  36	12 *  4 =  48	12 *  5 =  60	12 *  6 =  72	12 *  7 =  84	12 *  8 =  96	12 *  9 = 108
13 *  1 =  13	13 *  2 =  26	13 *  3 =  39	13 *  4 =  52	13 *  5 =  65	13 *  6 =  78	13 *  7 =  91	13 *  8 = 104	13 *  9 = 117
14 *  1 =  14	14 *  2 =  28	14 *  3 =  42	14 *  4 =  56	14 *  5 =  70	14 *  6 =  84	14 *  7 =  98	14 *  8 = 112	14 *  9 = 126
15 *  1 =  15	15 *  2 =  30	15 *  3 =  45	15 *  4 =  60	15 *  5 =  75	15 *  6 =  90	15 *  7 = 105	15 *  8 = 120	15 *  9 = 135
16 *  1 =  16	16 *  2 =  32	16 *  3 =  48	16 *  4 =  64	16 *  5 =  80	16 *  6 =  96	16 *  7 = 112	16 *  8 = 128	16 *  9 = 144
17 *  1 =  17	17 *  2 =  34	17 *  3 =  51	17 *  4 =  68	17 *  5 =  85	17 *  6 = 102	17 *  7 = 119	17 *  8 = 136	17 *  9 = 153
18 *  1 =  18	18 *  2 =  36	18 *  3 =  54	18 *  4 =  72	18 *  5 =  90	18 *  6 = 108	18 *  7 = 126	18 *  8 = 144	18 *  9 = 162
19 *  1 =  19	19 *  2 =  38	19 *  3 =  57	19 *  4 =  76	19 *  5 =  95	19 *  6 = 114	19 *  7 = 133	19 *  8 = 152	19 *  9 = 171

In [42]:
try:
    print(1/0)
except ZeroDivisionError:
    print("Division by zero error")
finally:
    print("This will always be printed")

Division by zero error
This will always be printed

In [47]:
round(8000*(1/11))

727

In [49]:
y = lambda x : 3*x
y(3)

9

In [50]:
add = lambda a, b : a+b
add(1,5)

6

In [51]:
littlePrince = '''여섯 살 적에 나는 '체험한 이야기'라는 제목의 원시림에 과한 채게서 기막힌 그림 하나를 본 적이 있다. 맹수를 집어삼키고 있는 보아뱀 그림이었다.'''
littlePrince[:10]

'여섯 살 적에 나는'

In [52]:
short = lambda x : x[:10]
short(littlePrince)

'여섯 살 적에 나는'

In [53]:
exchange = lambda won : won* 0.00086
exchange(1000000)

860.0

In [1]:
a=input("숫자를 입력하세요")

In [2]:
print(a)

22

In [3]:
type(a)

str

In [4]:
c=17/7
c

2.4285714285714284

In [5]:
type(c)

float

In [6]:
a=float(a)
type(a)

float

In [10]:
c=round(c,1)
c

2.4

In [12]:
def seterate():
    a=int(input('자연수중하나를 입력하게숑'))
    if a%2==0:
        print('짝수')
    else:
        print('홀수')
seterate()

홀수

In [14]:
price = [23, 40, 67]
for i in price:
    print(i*1.1)

25.3
44.0
73.7

In [ ]:
def service_price():
    service=input('서비스를 선택하세요.(a/b/c)')
    valueAdded=input('부가세를 포함함니까? y/n')
    if valueAdded == 'y':
        if service == 'a':
            result == price[0]*1.1
        if service == 'b':
            result == price[1]*1.1
        if service == 'c':
            result == price[2]*1.1