In [7]:
import re
word=['apple', 'cat', 'brave', 'drama', 'arise', 'blow', 'coat', 'above']
for i in word:
    m = re.match(r'^a\w*',i)
    if m:
        print(m.group())

apple
arise
above

In [13]:
import csv, os
os.chdir(r'/Users/seunghee/PythonWork.py/CSVfile다루기')
f=open('a.csv','r',encoding='utf8')

new=csv.reader(f)
new

In [14]:
for i in new: print(i)

["'국어'", " '영어'", " '수학'"]
['90', '80', '100']

In [20]:
f.seek(0)
a_list=[]
for i in new:
    print(i)
    a_list.append(i)

["'국어'", " '영어'", " '수학'"]
['90', '80', '100']

In [21]:
a_list

[["'국어'", " '영어'", " '수학'"], ['90', '80', '100']]

In [22]:
def opencsv(filename):
    f=open(filename, 'r')
    reader=csv.reader(f)
    output=[]
    for i in reader:
        output.append(i)
    return output

In [23]:
opencsv('a.csv')

[["'국어'", " '영어'", " '수학'"], ['90', '80', '100']]

In [27]:
a=[['구', '전체', '내국인', '외국인'],
['관악구', '519864', '502089', '17755'],
['강남구', '547602', '542498', '5104'],
['송파구', '686181', '679247', '6934'],
['강동구', '428547', '424235', '4312']]
f=open('edit.cvs', 'w', newline='', encoding='utf-8-sig')
csvobject = csv.writer(f, delimiter=',')
csvobject.writerows(a)

In [28]:
f.close()

In [ ]:
def writecsv(filename, the_list):
    with open(filename, 'w' newline='', encoding='utf-8-sig') as f:
        a = csv.writer(f, delimiter=', ')
        a.writerows(the_list)

In [1]:
import os, usecsv

total = usecsv.opencsv(r'/Users/seunghee/PythonWork.py/popSeoul2023.csv')
for i in total [:5]:
    print(i)

['\ufeff구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  ']
['종로구', ' 152,212 ', ' 141,060 ', ' 11,152 ', ' 28,265 ']
['중구', ' 131,390 ', ' 120,963 ', ' 10,427 ', ' 25,353 ']
['용산구', ' 232,482 ', ' 217,756 ', ' 14,726 ', ' 39,478 ']
['성동구', ' 287,240 ', ' 280,240 ', ' 7,000 ', ' 48,238 ']

In [5]:
i='123'
float(i)
int(i)
float('152,212'.replace(',',''))

152212.0

In [6]:
import re
i=total[1]
i

['종로구', ' 152,212 ', ' 141,060 ', ' 11,152 ', ' 28,265 ']

In [7]:
k=[]
for j in i:
    if re.search(r'\d',j):
        k.append(float(re.sub(',','',j)))
    else:
        k.append(j)
k

['종로구', 152212.0, 141060.0, 11152.0, 28265.0]

In [8]:
p=['123강남', '151,767','11,093','27,394']
k=[]
for j in p:
    if re.search(r'[a-z가-힣]',j):
        k.append(j)
    else: k.append(float(j.replace(',','')))
k

['123강남', 151767.0, 11093.0, 27394.0]

In [11]:
i=['123!!','124,231','22,341','242123','','!!!$^']
for j in i: 
    try:
        i[i.index(j)]=float(j.replace(',',''))
    except:
        pass       
i

['123!!', 124231.0, 22341.0, 242123.0, '', '!!!$^']

In [13]:
i=total[1]
k=[]
for j in i:
    if re.search(r'\d',j):
        k.append(float(j.replace(',','')))
    else:
        k.append(j)
k

['종로구', 152212.0, 141060.0, 11152.0, 28265.0]